.logo {
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}

.container {
    max-width: 955px;
    background-color: rgb(235, 182, 113);
    margin: auto;
    height: 60vh;
}

.message {
    background-color: #49fffbd6;
    width: 24%;
    padding: 10px;
    margin: 18px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(150, 255, 124));
}